.cmp-button {
    background: #f77d24;
    font-weight: bold;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 7px 7px 12px #888888;
}
.cmp-button__text {
}
.cmp-button__icon {
}
//.cmp-button__icon--myIcon {}

.button {
    display: flex;
}

.button--center {
    justify-content: center;
}

.button--right {
    justify-content: flex-end;
}

.button--m10 {
    margin-top: 10px;
}

.button--m20 {
    margin-top: 20px;
}

.button--m40 {
    margin-top: 40px;
}
